body {
  text-align: center;
  font-family: 'Merriweather', serif;
}

h1 {
  color: #66BFBF;
  font-size: 5.625rem;
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
  line-weight: 2;
}


p {
  line-height: 2;
  color: white;
  font-family: 'Sacramento', cursive;
}


a {
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}

a:hover {
  color: #EAF6F6;
}

.top-container {
  background-color: #E4F9F5;
  position: relative;
  padding: 30px;
}

.middle-container {
  margin: 100px 0;
  padding: 60px 20px 20px 20px;
}

.bottom-container {
  background-color: #66BFBF;
  height: 100px;
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
}


.drum {
  outline: none;
  border: 5px solid #b4f2e1;
  font-size: 5rem;
  font-family: 'Arvo', cursive;
  line-height: 2;
  font-weight: 900;
  color: #eb6383;
  text-shadow: 3px 0 #DBEDF3;
  border-radius: 15px;
  display: inline-block;
  width: 150px;
  height: 150px;
  text-align: center;
  margin: 10px;
  background-color: white;
  background-image: url("tom.png");
}

.pressed {
  box-shadow: 0 3px 4px 0 #DBEDF3;
  opacity: 0.5;
}

.linkedin {
  color:white;
  /* padding: 1px; */
  margin:5px;
}
